.feature-item {
    /* give it indent */
    /* padding-left: 94px; */

    position: relative;
    padding-bottom: 2.5rem;

    @mixin atSmall {
        padding-left: 94px;
    }

    /* put the icon left */
    &__icon {
        /* position: absolute;
        left: 0; */

        display: block;
        margin: 0 auto;

        @mixin atSmall {
            position: absolute;
            left: 0;
        }
    }

    &__title {
        /* font-size: 1.875rem; */
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: .8rem;
        margin-top: .7em;
        text-align: center;

        @mixin atSmall {
            font-size: 1.875rem;
            margin-top: 1em;
            text-align: left;
        }
    }
}